@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing : border-box;
    font-family: 'Poppins', 'sans-serif';
}

body { 
  background: url(images/img2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countDown_continer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.countEl {
    margin: 0 2rem;
    text-align: center;
}

.countElValue {
    font-size: 4rem;
}




